.bold
{
	font-weight: bold; 
}

.static
{
	width: 20em !important; 
}
.antennaSelect
{
	width: 9.3em;
}
#TableWidth
{
	width: auto;
}

.circle{
    background: #dddddd;
    border-radius: 50%;
}
.float_Left{
	
	float: left; 
	margin-right: 5px;
	margin-top: 10px;
}
.float_Right{
	
	float: left; 
	margin-top: 10px;
}
.sec_Line{
	clear: left;
}
.table-nonfluid {
   width: 36.1em !important;
}

.input-width{
	width: 9.3em;
}
.float-right{
	float: right; 
}